# Pandas

## Assignments

###### Problem Statemetn 1:

1. How-to-count-distance-to-the-previous-zeros. 

For each value, count the difference of the distance from the previous zero (or the start of the Series, whichever is closer)and if there are no previous zeros, print the position. 

Consider a DataFrame 'df' where there is an integer column {'X'[7,2,0,3,4,2,5,0,3,4]}

The values should therefore be [1,2,0, 1,2,3,4,0,1,2]. Make this a new column 'y. 

import pandas as pd. 

df = pd.DataFrame({'X':[7,2,0,3,4,2,5,0,3,4]})

In [2]:
import pandas as pd
list_org = [7,2,0,3,4,2,5,0,3,4]
df = pd.DataFrame({'X':list_org})
list_new = []
count_diff_back = 0
for item in list_org:
    if(item != 0):
        count_diff_back += 1
    else:
        count_diff_back = 0
    list_new.append(count_diff_back)
df['Y'] = list_new
print(df)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [6]:
import random
import datetime
import calendar
from pandas.tseries.offsets import BDay
import pandas as pd

def all_businessdays(year):
# January 1st of the given year and get the next business day if the 1st is on weekend
       dt = datetime.date(year, 1, 1)
       dt += BDay()
# December 31st of the previuos year and get the next business day of the next year
       prev_dt = datetime.date(year-1, 12, 31)
       prev_dt += BDay()
       
       yield prev_dt
# Iterating through the loop and get the next business day untill the end of year is not weekend  
       while dt.year == year:
        yield dt
        dt += BDay()

# DatetimeIndex created for each business day of the given year and used it to index a Series of random numbers
index_lab = []
random_number = []
index_first_four_month = []
index_middle_four_month = []
index_last_four_month = []
for bdatetime in all_businessdays(2015):
    bdatetime = str(bdatetime)
    index_lab.append(bdatetime)
    random_number.append(random.randint(1,300))
    if('01' in bdatetime[5:7] or '02' in bdatetime[5:7] or '03' in bdatetime[5:7] or '04' in bdatetime[5:7]):
        index_first_four_month.append(bdatetime)
    elif('05' in bdatetime[5:7] or '06' in bdatetime[5:7] or '07' in bdatetime[5:7] or '08' in bdatetime[5:7]):
        index_middle_four_month.append(bdatetime)
    else:
        index_last_four_month.append(bdatetime)
        
business_random = pd.Series(random_number,index = index_lab)
print("\nSeries of Random numbers with DatetimeIndex for each business day of year 2015\n",'-'*78, sep='')
print(business_random.to_string())
print('-'*95, sep='')
wednesday_index_lab = []
month_index_lab = []
for dt in index_lab:
    date_only = pd.to_datetime(dt)
    month = date_only.month
    year = date_only.month
    day = date_only.day
    ans = datetime.date(year, month, day)
    wednesday_index_lab.append(ans.strftime("%A"))
    month_index_lab.append(month)

business_random.index = wednesday_index_lab

Series of Random numbers with DatetimeIndex for each business day of year 2015
------------------------------------------------------------------------------
2015-01-01 00:00:00    174
2015-01-02 00:00:00    242
2015-01-05 00:00:00     40
2015-01-06 00:00:00    195
2015-01-07 00:00:00    204
2015-01-08 00:00:00    289
2015-01-09 00:00:00     56
2015-01-12 00:00:00    171
2015-01-13 00:00:00    157
2015-01-14 00:00:00     68
2015-01-15 00:00:00    300
2015-01-16 00:00:00    278
2015-01-19 00:00:00     93
2015-01-20 00:00:00     94
2015-01-21 00:00:00    254
2015-01-22 00:00:00    102
2015-01-23 00:00:00    103
2015-01-26 00:00:00    206
2015-01-27 00:00:00    115
2015-01-28 00:00:00     45
2015-01-29 00:00:00     82
2015-01-30 00:00:00    168
2015-02-02 00:00:00    218
2015-02-03 00:00:00    267
2015-02-04 00:00:00     34
2015-02-05 00:00:00     93
2015-02-06 00:00:00     41
2015-02-09 00:00:00    159
2015-02-10 00:00:00    190
2015-02-11 00:00:00    223
2015-02-12 00:00:00      9
2015-02-13 00:00:00    137
2015-02-16 00:00:00    243
2015-02-17 00:00:00    101
2015-02-18 00:00:00    293
2015-02-19 00:00:00    196
2015-02-20 00:00:00    111
2015-02-23 00:00:00     43
2015-02-24 00:00:00    178
2015-02-25 00:00:00     93
2015-02-26 00:00:00     71
2015-02-27 00:00:00    142
2015-03-02 00:00:00    216
2015-03-03 00:00:00    252
2015-03-04 00:00:00      6
2015-03-05 00:00:00     98
2015-03-06 00:00:00    121
2015-03-09 00:00:00    267
2015-03-10 00:00:00     94
2015-03-11 00:00:00    254
2015-03-12 00:00:00    218
2015-03-13 00:00:00     16
2015-03-16 00:00:00    168
2015-03-17 00:00:00    241
2015-03-18 00:00:00    145
2015-03-19 00:00:00    278
2015-03-20 00:00:00    232
2015-03-23 00:00:00     33
2015-03-24 00:00:00    277
2015-03-25 00:00:00    249
2015-03-26 00:00:00    131
2015-03-27 00:00:00    281
2015-03-30 00:00:00    156
2015-03-31 00:00:00    173
2015-04-01 00:00:00    290
2015-04-02 00:00:00    204
2015-04-03 00:00:00    296
2015-04-06 00:00:00     95
2015-04-07 00:00:00     85
2015-04-08 00:00:00    110
2015-04-09 00:00:00     51
2015-04-10 00:00:00    234
2015-04-13 00:00:00      3
2015-04-14 00:00:00     86
2015-04-15 00:00:00    272
2015-04-16 00:00:00    261
2015-04-17 00:00:00    120
2015-04-20 00:00:00    126
2015-04-21 00:00:00    222
2015-04-22 00:00:00     83
2015-04-23 00:00:00    197
2015-04-24 00:00:00    213
2015-04-27 00:00:00    244
2015-04-28 00:00:00    182
2015-04-29 00:00:00     27
2015-04-30 00:00:00     75
2015-05-01 00:00:00     19
2015-05-04 00:00:00    269
2015-05-05 00:00:00    144
2015-05-06 00:00:00    294
2015-05-07 00:00:00    264
2015-05-08 00:00:00    171
2015-05-11 00:00:00     15
2015-05-12 00:00:00    119
2015-05-13 00:00:00    207
2015-05-14 00:00:00    221
2015-05-15 00:00:00    220
2015-05-18 00:00:00    254
2015-05-19 00:00:00    252
2015-05-20 00:00:00     99
2015-05-21 00:00:00    118
2015-05-22 00:00:00    109
2015-05-25 00:00:00    221
2015-05-26 00:00:00    102
2015-05-27 00:00:00    172
2015-05-28 00:00:00    154
2015-05-29 00:00:00    255
2015-06-01 00:00:00     35
2015-06-02 00:00:00    187
2015-06-03 00:00:00    248
2015-06-04 00:00:00    124
2015-06-05 00:00:00     14
2015-06-08 00:00:00    110
2015-06-09 00:00:00    163
2015-06-10 00:00:00    297
2015-06-11 00:00:00    137
2015-06-12 00:00:00    113
2015-06-15 00:00:00     95
2015-06-16 00:00:00    230
2015-06-17 00:00:00    112
2015-06-18 00:00:00    294
2015-06-19 00:00:00    200
2015-06-22 00:00:00     21
2015-06-23 00:00:00      4
2015-06-24 00:00:00    108
2015-06-25 00:00:00     52
2015-06-26 00:00:00    108
2015-06-29 00:00:00    119
2015-06-30 00:00:00     68
2015-07-01 00:00:00    107
2015-07-02 00:00:00    211
2015-07-03 00:00:00    140
2015-07-06 00:00:00    283
2015-07-07 00:00:00    127
2015-07-08 00:00:00    220
2015-07-09 00:00:00    286
2015-07-10 00:00:00     45
2015-07-13 00:00:00    286
2015-07-14 00:00:00     91
2015-07-15 00:00:00    215
2015-07-16 00:00:00    202
2015-07-17 00:00:00    193
2015-07-20 00:00:00    282
2015-07-21 00:00:00     67
2015-07-22 00:00:00     43
2015-07-23 00:00:00     65
2015-07-24 00:00:00    206
2015-07-27 00:00:00     33
2015-07-28 00:00:00    233
2015-07-29 00:00:00     92
2015-07-30 00:00:00    210
2015-07-31 00:00:00    214
2015-08-03 00:00:00      3
2015-08-04 00:00:00     94
2015-08-05 00:00:00     89
2015-08-06 00:00:00     74
2015-08-07 00:00:00     82
2015-08-10 00:00:00    170
2015-08-11 00:00:00    158
2015-08-12 00:00:00    229
2015-08-13 00:00:00    265
2015-08-14 00:00:00    267
2015-08-17 00:00:00    164
2015-08-18 00:00:00    249
2015-08-19 00:00:00     56
2015-08-20 00:00:00    135
2015-08-21 00:00:00    277
2015-08-24 00:00:00    153
2015-08-25 00:00:00    191
2015-08-26 00:00:00    218
2015-08-27 00:00:00    291
2015-08-28 00:00:00    222
2015-08-31 00:00:00     61
2015-09-01 00:00:00    179
2015-09-02 00:00:00    293
2015-09-03 00:00:00    273
2015-09-04 00:00:00    183
2015-09-07 00:00:00     69
2015-09-08 00:00:00    210
2015-09-09 00:00:00    103
2015-09-10 00:00:00     40
2015-09-11 00:00:00    145
2015-09-14 00:00:00     64
2015-09-15 00:00:00    215
2015-09-16 00:00:00    145
2015-09-17 00:00:00    102
2015-09-18 00:00:00    254
2015-09-21 00:00:00    243
2015-09-22 00:00:00    166
2015-09-23 00:00:00    174
2015-09-24 00:00:00    209
2015-09-25 00:00:00    224
2015-09-28 00:00:00     27
2015-09-29 00:00:00     55
2015-09-30 00:00:00    202
2015-10-01 00:00:00    124
2015-10-02 00:00:00    251
2015-10-05 00:00:00    220
2015-10-06 00:00:00    206
2015-10-07 00:00:00    281
2015-10-08 00:00:00     15
2015-10-09 00:00:00    193
2015-10-12 00:00:00     30
2015-10-13 00:00:00    147
2015-10-14 00:00:00    130
2015-10-15 00:00:00    172
2015-10-16 00:00:00    105
2015-10-19 00:00:00     39
2015-10-20 00:00:00     82
2015-10-21 00:00:00    126
2015-10-22 00:00:00    236
2015-10-23 00:00:00     69
2015-10-26 00:00:00     94
2015-10-27 00:00:00    221
2015-10-28 00:00:00     39
2015-10-29 00:00:00     21
2015-10-30 00:00:00    250
2015-11-02 00:00:00    140
2015-11-03 00:00:00    137
2015-11-04 00:00:00    193
2015-11-05 00:00:00     47
2015-11-06 00:00:00    132
2015-11-09 00:00:00    283
2015-11-10 00:00:00    286
2015-11-11 00:00:00    241
2015-11-12 00:00:00    213
2015-11-13 00:00:00     38
2015-11-16 00:00:00    207
2015-11-17 00:00:00    195
2015-11-18 00:00:00    255
2015-11-19 00:00:00    239
2015-11-20 00:00:00     56
2015-11-23 00:00:00    231
2015-11-24 00:00:00    144
2015-11-25 00:00:00    139
2015-11-26 00:00:00    109
2015-11-27 00:00:00      9
2015-11-30 00:00:00    115
2015-12-01 00:00:00      6
2015-12-02 00:00:00    214
2015-12-03 00:00:00    211
2015-12-04 00:00:00     86
2015-12-07 00:00:00     20
2015-12-08 00:00:00    183
2015-12-09 00:00:00     97
2015-12-10 00:00:00     69
2015-12-11 00:00:00    141
2015-12-14 00:00:00    210
2015-12-15 00:00:00    167
2015-12-16 00:00:00    167
2015-12-17 00:00:00    250
2015-12-18 00:00:00     95
2015-12-21 00:00:00      8
2015-12-22 00:00:00    120
2015-12-23 00:00:00    295
2015-12-24 00:00:00    188
2015-12-25 00:00:00    283
2015-12-28 00:00:00    174
2015-12-29 00:00:00     42
2015-12-30 00:00:00     38
2015-12-31 00:00:00     64
-----------------------------------------------------------------------------------------------

3. Find the sum of the values in 's' for every Wednesday

In [7]:
print("Sum of the values for every Wednesday of year 2015 is %d\n" %business_random.loc['Wednesday'].sum(),'-'*95, sep='')
business_random.index = month_index_lab

Sum of the values for every Wednesday of year 2015 is 5804
-----------------------------------------------------------------------------------------------

4. Average for each calendar month.

In [8]:
for mon in range(1,13):
    print("Average value for %s'2015 is %0.2f" %(calendar.month_name[mon],business_random.loc[mon].mean()))
print('-'*95, sep='')

Average value for January'2015 is 156.18
Average value for February'2015 is 142.10
Average value for March'2015 is 177.55
Average value for April'2015 is 158.00
Average value for May'2015 is 175.19
Average value for June'2015 is 129.05
Average value for July'2015 is 167.43
Average value for August'2015 is 164.19
Average value for September'2015 is 162.50
Average value for October'2015 is 138.68
Average value for November'2015 is 162.33
Average value for December'2015 is 136.00
-----------------------------------------------------------------------------------------------

5. For each group of four consecutive calendar months in 'S', find the date on which the highest value occured.

In [9]:
business_random.index = index_lab

first_date_of_first_four_month= index_first_four_month[0]
last_date_of_first_four_month= index_first_four_month[len(index_first_four_month)-1]
value_max_date_of_first_four_month = max(business_random.loc[first_date_of_first_four_month:last_date_of_first_four_month])
max_date_of_first_four_month = business_random[business_random == value_max_date_of_first_four_month].index[0]
print("The date with the maximum value being %d for first 4 months of 2015 is %s" %(value_max_date_of_first_four_month,max_date_of_first_four_month))

first_date_of_middle_four_month= index_middle_four_month[0]
last_date_of_middle_four_month= index_middle_four_month[len(index_first_four_month)-1]
value_max_date_of_middle_four_month = max(business_random.loc[first_date_of_middle_four_month:last_date_of_middle_four_month])
max_date_of_middle_four_month = business_random[business_random == value_max_date_of_middle_four_month].index[0]
print("The date with the maximum value being %d for middle 4 months of 2015 is %s" %(value_max_date_of_middle_four_month,max_date_of_middle_four_month))

first_date_of_last_four_month= index_last_four_month[0]
last_date_of_last_four_month= index_last_four_month[len(index_last_four_month)-1]
value_max_date_of_last_four_month = max(business_random.loc[first_date_of_last_four_month:last_date_of_last_four_month])
max_date_of_last_four_month = business_random[business_random == value_max_date_of_last_four_month].index[0]
print("The date with the maximum value being %d for last 4 months of 2015 is %s" %(value_max_date_of_last_four_month,max_date_of_last_four_month))
print('-'*95, sep='')

The date with the maximum value being 300 for first 4 months of 2015 is 2015-01-15 00:00:00
The date with the maximum value being 297 for middle 4 months of 2015 is 2015-06-10 00:00:00
The date with the maximum value being 295 for last 4 months of 2015 is 2015-12-23 00:00:00
-----------------------------------------------------------------------------------------------

##### Problem Statemetn 2:

Read the dataset from the below link
https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv
1. Delete unnamed columns. 
2. Show the distribution of male and female.
3. Show the top 5 most preferred names.
4. What is the median name occurrence in the dataset.
5. Distribution of male and female born count by states.

In [11]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

In [12]:
print("Before deleting unnamed columns")
print('-'*31, sep='')
print(df.head())

Before deleting unnamed columns
-------------------------------
   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

1. Delete unnamed columns.

In [13]:
print("\nAfter deleting unnamed columns")
print('-'*30, sep='')
del df['Unnamed: 0']  # Delete unnamed columns
print(df.head())

After deleting unnamed columns
------------------------------
      Id     Name  Year Gender State  Count
0  11350     Emma  2004      F    AK     62
1  11351  Madison  2004      F    AK     48
2  11352   Hannah  2004      F    AK     46
3  11353    Grace  2004      F    AK     44
4  11354    Emily  2004      F    AK     41

2. Show the distribution of Male and Female

In [16]:
print("\nDistribution of Male and Female")
print('-'*31, sep='')
print("Total number of Males are %d"%len(df[df.Gender=='M']))
print("Total number of Females are %d"%len(df[df.Gender=='F']))

Distribution of Male and Female
-------------------------------
Total number of Males are 457549
Total number of Females are 558846

3. Show the top 5 most preferred names.

In [17]:
print("\nTop 5 most preferred names")
print('-'*27, sep='')
result =df.groupby(['Name'])["Count"].sum() # Grouping on the basis of Name and adding their count occurences
Top5 = result.reset_index().sort_values('Count',ascending=False).set_index('Count').head(5) # Show the top 5 most preferred names
for lab, row in Top5.iterrows() :
    print(row['Name'] + " has occurance of " + str(lab) + " times")

Top 5 most preferred names
---------------------------
Jacob has occurance of 242874 times
Emma has occurance of 214852 times
Michael has occurance of 214405 times
Ethan has occurance of 209277 times
Isabella has occurance of 204798 times

4. What is the median name occurrence in the dataset.

In [18]:
Median = result.median()
print("\nMedian is %f" %Median)
print("Median name occurence in the dataset are as follows :-")
print('-'*55, sep='')
print(result[result==int(Median)]) # Median name occurence in the dataset

Median is 49.000000
Median name occurence in the dataset are as follows :-
-------------------------------------------------------
Name
Aishani       49
Alara         49
Alysse        49
Ameir         49
Anely         49
Antonina      49
Aveline       49
Aziah         49
Baily         49
Caleah        49
Carlota       49
Cristine      49
Dahlila       49
Darvin        49
Deante        49
Deserae       49
Devean        49
Elizah        49
Emmaly        49
Emmanuela     49
Envy          49
Esli          49
Fay           49
Gurshaan      49
Hareem        49
Iven          49
Jaice         49
Jaiyana       49
Jamiracle     49
Jelissa       49
              ..
Kyndle        49
Kynsley       49
Leylanie      49
Maisha        49
Malillany     49
Mariann       49
Marquell      49
Maurilio      49
Mckynzie      49
Mehdi         49
Nabeel        49
Nalleli       49
Nassir        49
Nazier        49
Nishant       49
Rebecka       49
Reghan        49
Ridwan        49
Riot          49
Rubin         49
Ryatt         49
Sameera       49
Sanjuanita    49
Shalyn        49
Skylie        49
Sriram        49
Trinton       49
Vita          49
Yoni          49
Zuleima       49
Name: Count, Length: 66, dtype: int64

5. Distribution of male and female born count by states.

In [19]:
dist_gender_state_result =df.groupby(['Gender','State'])["Count"].count() # Grouping of male and female born count by states
#print(dist_gender_state_result)
print('-'*55, sep='')
print("Total Number of Females in Alaska are %d"%dist_gender_state_result['F']['AK'])
print("Total Number of Females in Alabama are %d"%dist_gender_state_result['F']['AL'])
print("Total Number of Males in Alaska are %d"%dist_gender_state_result['M']['AK'])
print("Total Number of Males in Alabama are %d"%dist_gender_state_result['M']['AL'])
print('-'*55, sep='')

-------------------------------------------------------
Total Number of Females in Alaska are 2404
Total Number of Females in Alabama are 9878
Total Number of Males in Alaska are 2587
Total Number of Males in Alabama are 8419
-------------------------------------------------------